{% extends "index.html" %}
{% load static %}
{% block header %}


{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <strong>{{ error|escape }}</strong>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <strong>{{ error|escape }}</strong>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
{% endif %}

<div class="container">
    <div class="rounded-4 p-5">
      <h3 class="fw-bold mb-0 fs-2 text-muted">Update Company</h3>
      <div class=" pb-4 border-bottom-0">
      </div>
      <div class="grid-item pb-5" style="width: 35vw;">
        <form method="POST" class='container text-muted font'>
          {% csrf_token %}
          <div class="mb-4">
            <label>Company ID</label>
            {{form.company_id}}
            {{ field.errors.as_ul }}
          </div>
          <div class="mb-4">
            <label>Name</label>
            {{form.name}}
            {{ form.errors.as_ul }}
          </div>
          <button class="w-100 mb-2 btn btn-lg rounded-3 text-white mt-2" style="background-color: green;" type="submit">Submit</button>
          <a class="" href="">
          </a>
          <hr class="mt-4">
        </form>
      </div>
{% endblock %}